sync_address = "{{ onepasswordRead "op://Private/Atuin History sync/website" }}:8888"
enter_accept = false
filter_mode = "host"
history_format = "{time}\t({host}[{exit}])\t{command}"
keymap_mode = "vim-insert"
