#!/usr/bin/env bash
{{- if eq .chezmoi.os "darwin" -}}
/usr/local/bin/brew bundle --global
{{- else if eq .chezmoi.arch "arm64" }}
/opt/homebrew/bin/brew bundle --global
{{- else }}
/home/linuxbrew/.linuxbrew/bin/brew bundle --global || true
{{- end }}
