#!/usr/bin/env bash
set -euo pipefail

{{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "amd64" }}
brew=/usr/local/bin/brew
  {{- else if eq .chezmoi.arch "arm64" }}
brew=/opt/homebrew/bin/brew
  {{- end }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
brew=/home/linuxbrew/.linuxbrew/bin/brew
{{- end }}

# tpack is a cask from a third party tap, so it has to be trusted first
# "$brew" tap tmuxpack/tpack
"$brew" trust 1password/tap hashicorp/tap tmuxpack/tpack
"$brew" trust --formula hashicorp/tap/packer

{{ if eq .chezmoi.os "darwin" }}
"$brew" bundle --global
{{- end }}
{{ if eq .chezmoi.os "linux" }}
"$brew" bundle --global || true
{{- end }}
