#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" }}
  {{ if eq .chezmoi.arch "amd64" }}
/usr/local/bin/brew bundle --global
  {{ else if eq .chezmoi.arch "arm64" }}
/opt/homebrew/bin/brew bundle --global
  {{ end }}
{{ end }}

{{ if eq .chezmoi.os "linux" }}
/home/linuxbrew/.linuxbrew/bin/brew bundle --global || true
{{ end }}
