[".teamocil"]
    type = "git-repo"
    url = "git@github.com:claytron/teamocil-config.git"
    refreshPeriod = '48h'
[".fortunes"]
    type = "git-repo"
    url = "git@github.com:claytron/fortunes.git"
    refreshPeriod = '48h'
["bin/scripts"]
    type = "git-repo"
    url = "git@github.com:claytron/scripts.git"
    refreshPeriod = '48h'
[".local/share/zinit/zinit.git"]
    type = "git-repo"
    url = "https://github.com/zdharma-continuum/zinit.git"
    refreshPeriod = '168h'
{{ if eq .chezmoi.hostname "hydra" -}}
["Documents/Max 9/Packages/oopsy"]
    type = "git-repo"
    url = "https://github.com/electro-smith/oopsy.git"
    refreshPeriod = '168h'
{{ end -}}
