# I prefer vi-style editing
set editing-mode vi
set bell-style none
$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    set keymap vi-insert
    "jj": vi-movement-mode
    "jk": vi-movement-mode
$endif
# ignore that case biatch
set completion-ignore-case on
# actually tab the first time :)
set show-all-if-ambiguous on
# turn off the annoying bell
set bell-style none
