# Basic necessities
brew 'zsh'
brew 'zsh-completions'
brew 'starship'
brew 'bash'
brew 'git'
brew 'nvim'
brew 'vim'
brew 'tmux'
brew 'pwgen'
brew 'wget'
brew 'curl'
brew 'rsync'
{{- if eq .chezmoi.os "darwin" -}}
brew 'telnet'
{{- end }}
brew 'dust'
brew 'chezmoi'
{{- if eq .chezmoi.os "darwin" -}}
cask '1password/tap/1password-cli'
{{- end }}
cask 'readdle-spark'
brew 'atuin'

# Fonts!
cask "font-victor-mono"
cask "font-victor-mono-nerd-font"

# Helpers for dotfiles related stuff
brew 'moreutils'
brew 'coreutils'
brew 'keychain'
brew 'icdiff'
brew 'git-delta'
brew 'bat'
brew 'eza'
brew 'shellcheck'
brew 'vivid'
brew 'fd'

# For development
brew 'go'
brew 'asdf'
# deps for building various things
brew 'lua'
brew 'luarocks'
brew 'libyaml'
## Dev utils
brew 'ctags'
brew 'jq'
brew 'gojq'
brew 'ijq'
brew 'ripgrep'
brew 'make'
brew 'dos2unix'
{{- if .work }}
brew 'git-lfs'
{{- end }}
## Ops utils
brew 'sipcalc'
brew 'doggo'
brew 'awscli'
{{- if eq .chezmoi.os "darwin" -}}
# These won't install on linux...
cask 'aws-vault-binary'
cask 'gcloud-cli'
brew 'rename'
{{- end }}
brew 'hadolint'
brew 'sshuttle'
brew 'magic-wormhole'
brew '7zip'
brew 'gh'
brew 'exercism'
brew 'uv'
cask 'codex'
cask 'claude'
cask 'coscreen'
cask 'pop-app'

# art related stuff
brew 'ffmpeg'
brew 'imagemagick'

{{- if eq .chezmoi.os "darwin" -}}
# Apps
cask 'firefox'
cask 'google-chrome'
cask 'kitty'
cask 'tunnelblick'
brew 'macvim'
cask 'vimr'
cask 'sourcetree'
cask 'rectangle'
cask 'karabiner-elements'
cask 'remember-the-milk'
cask 'obsidian'
cask 'orbstack'
cask 'tableplus'
cask 'plex'
cask 'plexamp'
cask 'spotify'
cask 'tidal'
cask 'steam'
cask 'maccy'
cask 'discord'
cask 'telegram'
cask 'stats'
cask 'visual-studio-code'
cask 'slack'
cask 'meetingbar'
cask 'reader'
cask 'pocket-casts'

{{- end }}
# Other fun stuff
brew 'cowsay'
brew 'fortune'
brew 'graphviz'
brew 'toilet'
brew 'figlet'
brew 'lolcat'
